* {
    font-family: monospace;
    scroll-behavior: smooth;
    margin: auto;
}

body a {
    color: #DEB841;
}

.menu-container a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em 2em;
    margin: -1em -2em;
}

body {
    border: 5px solid #eeeeee;
    background-color: #131b23;
    max-width: 960px;
    min-width: 640px;
    min-height: 1000px;
}

p {
    color: #eeeeee;
    margin: 10px 10px;
}

h2,
h3 {
    color: #eeeeee;
    margin: 10px 10px;
}

.title-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #eeeeee;
    padding: 10px 10px;
}

.site-title {
    font-size: 120%;
    min-width: fit-content;
    max-height: max-content;
    background-color: #6D0000;
    color: #eeeeee;
    padding: 10px;
    margin: 40px;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 0 0 15px 15px #131b23;
    transition: 500ms;
}

.site-title:hover {
    background-color: #DEB841;
    color: #6D0000;
    transition: 500ms;
    cursor: default;
}

.slogan {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: underline;
    text-shadow: 10px 10px 5px #131b2360;
}

.divider {
    margin: 0 auto 10px auto;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    background-color: #eeeeee;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-container>div {
    text-align: center;
    width: 80px;
    margin: 5px;
    padding: 5px;
    border: 5px solid #6D0000;
}

.menu-button:hover {
    cursor: pointer;
    background-color: #DEB841;
    transition: 500ms;
}

.menu-button {
    transition: 500ms;
}

.current-page {
    background-color: #DEB841;
}

.menu-button a {
    color: #6D0000;
    text-decoration: none;
    font-weight: bold;
}

.page-container {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.profile {
    min-width: 25%;
    border: 5px solid #DEB841;
    padding: 5px;
    margin: 0 5px;
    align-content: center;
    transition: 500ms;
    border-radius: 30px 5px 30px 5px;
}

.profile-photo {
    width: auto;
    max-width: 300px;
    margin: 0 5px -4px 5px;
    border: 5px solid #6D0000;
    border-radius: 5px;
}

.profile:hover {
    border-color: #6D0000;
    background-color: #000000;
    transition: 500ms;
    cursor: default;
}

#profile-photo1 {
    filter: saturate(100%);
    transition: 500ms;
}

#profile-photo2 {
    filter: saturate(0) opacity(0);
    transform: scaleX(-1);
    transition: 500ms;
}

#profile-photo1:hover {
    filter: saturate(0);
    transition: 500ms;
}

#profile-photo2:hover {
    filter: saturate(0%) opacity(100);
    transition: 500ms;
}

.redacted {
    color: #000000;
    background-color: #000000;
    cursor: default;
    transition: 500ms;
}

.redacted:hover {
    color: #eeeeee;
    transition: 500ms;
    cursor: none;
}